# Discord
HUBOT_DISCORD_TOKEN=
# Channels
HUBOT_DISCORD_STANDUP_CHANNEL=
SKUNKWORKS_DISCORD_CHANNEL=

# GitHub
HUBOT_GITHUB_TOKEN=
HUBOT_GITHUB_USER=JoinColony
HUBOT_GITHUB_REPO=colonyDapp

# Figma
HUBOT_FIGMA_TOKEN=

# Ethereum
HUBOT_ETHEREUM_PRIVATE_KEY= # optional, uses dummy account if unspecified

# Server
SERVER_ENDPOINT=
RPC_URL=

# Contracts
NETWORK_ADDRESS=

# Users
UPGRADE_ALERT_DISCORD_USER_ID=
